apiVersion: v1
kind: ConfigMap
metadata:
  namespace: casapp
  name: msvc-auth
data:
  msvc_port: "8083"
  msvc-auth.yml: |-
    auth:
      message: Default Auth
    ---
    spring:
      config:
        activate:
          on-profile: dev
    client:
      message: Dev Auth
    ---
    spring:
      config:
        activate:
          on-profile: prod
    client:
      message: Prod Auth
    logging:
      file:
        path: /app/logs
      level:
        ca:
          casapp: INFO
        com:
          zaxxer:
            hikari:
              HikariConfig: INFO
        org:
          hibernate: INFO
          springframework:
            jdbc: INFO
            web: INFO
        root: INFO