apiVersion: apps/v1
kind: Deployment
metadata:
  name: msvc-auth
  namespace: casapp
  labels:
    app: msvc-auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: msvc-auth
  template:
    metadata:
      labels:
        app: msvc-auth
    spec:
      serviceAccountName: spring-cloud-kubernetes
      containers:
        - image: dwinpaez/msvc-auth:latest
          name: msvc-auth
          ports:
            - containerPort: 8083
          env:
            - name: SPRING_PROFILE
              value: "prod,k8s"
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 20
            timeoutSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 10
