logging:
  file:
    path: /app/logs
  level:
    ca:
      casapp: DEBUG
    com:
      zaxxer:
        hikari:
          HikariConfig: DEBUG
    org:
      hibernate: DEBUG
      springframework:
        jdbc: DEBUG
        web: DEBUG
    root: INFO
server:
  port: ${PORT:8082}
spring:
  application:
    name: msvc-bookings
  cloud:
    kubernetes:
      discovery:
        all-namespaces: true
      secrets:
        enable-api: true
  datasource:
    driverClassName: org.h2.Driver
    password: ${DB_PASSWORD:casapp_pwd_2024}
    url: jdbc:h2:mem:${DB_DATABASE:casapp_bookings}
    username: ${DB_USERNAME:casapp_user}
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none
  main:
    allow-bean-definition-overriding: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${LB_AUTH_ISSUER_URI:http://127.0.0.1:8083}

management:
  endpoints:
    web:
      exposure:
        include: "*"
    endpoint:
      health:
        show-details: always
        probes:
          enabled: true
    health:
      livenessstate:
        enabled: true
      readinessstate:
        enabled: true
---
spring:
  config:
    activate:
      on-profile: dev
logging:
  file:
    path: /app/logs
  level:
    ca:
      casapp: INFO
    com:
      zaxxer:
        hikari:
          HikariConfig: INFO
    org:
      hibernate: INFO
      springframework:
        jdbc: INFO
        web: INFO
    root: INFO
