logging:
  file:
    path: /app/logs
  level:
    ca:
      casapp: DEBUG
      com:
        zaxxer:
          hikari:
            HikariConfig: DEBUG
    org:
      springframework:
        jdbc: DEBUG
        web: DEBUG
      hibernate: DEBUG
    root: INFO
msvc:
  bookings:
    service:
      url: ${BOOKINGS_SERVICE_URL:msvc-bookings:8082/booking}
server:
  port: ${PORT:8081}
spring:
  application:
    name: msvc-clients
  cloud:
    kubernetes:
      discovery:
        all-namespaces: true
      secrets:
        enable-api: true
  datasource:
    driverClassName: org.h2.Driver
    password: ${DB_PASSWORD:casapp_pwd_2024}
    url: jdbc:h2:mem:${DB_DATABASE:casapp_clients}
    username: ${DB_USERNAME:casapp_user}
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none
  main:
    allow-bean-definition-overriding: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${LB_AUTH_ISSUER_URI:http://127.0.0.1:8083}
      client:
        registration:
          msvc-oidc-client:
            provider: spring
            client-id: msvc-oidc-client
            client-secret: casapp-secret
            authorization-grant-type: authorization_code
            redirect-uri: ${LB_CLIENTS_URI:http://127.0.0.1:8081}/authorized
            scope: read,write
            client-name: msvc-oidc-client
        provider:
          spring:
            issuer-uri: ${LB_AUTH_ISSUER_URI:http://127.0.0.1:8083}

management:
  endpoints:
    web:
      exposure:
        include: "*"
    endpoint:
      health:
        show-details: always
        probes:
          enabled: true
    health:
      livenessstate:
        enabled: true
      readinessstate:
        enabled: true
